body{
    background-color: rgb(180, 173, 173);
    
}


table,td,tr{
    border:3px solid black;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-collapse: collapse;
   
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 2px solid black;
}
img:hover
{
    transform:scale(1.3);
}

tr
{
    border: 2px solid black;
}

tr:hover
{
    color: rgb(252, 237, 35);
}
p {
    font-size: 2rem;
    text-align: center;
  }

a{

 
    color: rgb(192, 48, 144);
}

a:hover{

 
    color: rgb(226, 15, 15);
}

@media only screen and (max-width:600px){
    body{
        background-color: rgb(120, 243, 126);
    }
}


div.a{
    transform: rotate(20deg);
    transform: scale(2);

}

div.b{
    transform: skewy(20deg);
}


div.c{


    transform: scaley(1.5);
}