body{
    background-color: gray;
    
}


table{
    border:3px solid black;
    background-color: rgb(163, 95, 95);
    width: 100%;
    border-collapse: collapse;
   
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 2px solid black;
}

tr
{
    border: 2px solid black;
}

a{


    color: rgb(202, 17, 109);
}

@media only screen and (max-width:600px){
    body{
        background-color: rgb(64, 230, 230);
    }
}


div.a{
    transform: rotate(20deg);
    transform: scale(2);

}

div.b{
    transform: skewy(20deg);
}


div.c{


    transform: scaley(1.5);
}